env
config/settings/dev.py
.github
test1.py
db.sqlite3
API_DOCUMENTATION.md
AUTH_API_DOCS.md
__pycache__/
*.py[cod]

.DS_Store

.idea/
.vscode/
*.log
prod.py
base.py
**/migrations/
!**/migrations/__init__.py
staticfiles/
media/
